\documentclass[12pt,a4paper]{article}
\usepackage{ctex}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{graphicx}
\usepackage{geometry}
\usepackage{fancyhdr}

\geometry{
    a4paper,
    top=2.54cm,
    bottom=2.54cm,
    left=3.18cm,
    right=3.18cm
}

\pagestyle{fancy}
\fancyhf{}
\renewcommand{\headrulewidth}{0.4pt}
\renewcommand{\footrulewidth}{0.4pt}
\fancyhead[C]{高中数学试卷}
\fancyfoot[C]{\thepage}

\begin{document}

\begin{center}
    \Large\textbf{高中数学试卷}
\end{center}

\vspace{1cm}

{{ content }}

\vfill
\begin{center}
    \small{本文档由数学试卷转换器自动生成}
\end{center}

\end{document} 